$circle-color: #5471FF;

.navbar {
    padding-top: 30px;

    .container-fluid {
        width: 80%;
    }

    .nav {
        justify-content: space-between;
    }

    .logo {
        height: 80px;
    }

    a {
        color: white;
        text-transform: uppercase;
        font-size: 1.4em;
        transition: 0.3s ease-out;

        &:hover {
            color: #B4D477;
        }
    }

    .ball {
        background: $circle-color;
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
}